<form name="customGroupsCreationForm">
	<div>
		<input type="text" name="groupName" placeholder="{{newGroupPlaceholder}}" autocomplete="off" autocapitalize="off" autocorrect="off">
		<input type="submit" value="{{newGroupSubmitLabel}}" />
	</div>
</form>
<table class="grid hidden">
<thead>
	<tr>
		<th></th>
		<th>{{groupLabel}}</th>
		<th>{{yourRoleLabel}}</th>
		<th></th>
	</tr>
</thead>
<tbody class="group-list">
</tbody>
</table>
<a href="#" class="load-more hidden">{{loadMoreLabel}}</a>
<div class="empty hidden">{{emptyMessage}}</div>
<div class="loading hidden" style="height: 50px"></div>
