<div>{{pageTitle}}</div>

<form name="customGroupsCreationForm">
	<div>
		<input
			type="text"
			name="groupName"
			placeholder="{{newGroupPlaceholder}}"
			autocomplete="off"
			autocapitalize="off"
			autocorrect="off"
		>
		<input type="submit" value="{{newGroupSubmitLabel}}" />
	</div>
</form>
<ul>
{{#groups}}
	<li class="group" data-id="{{id}}">
		<a href="#" class="select display-name">{{displayName}}</a>
	</li>
{{/groups}}
</ul>
{{#if empty}}
<div class="empty">{{emptyMessage}}</div>
{{/if}}
